@page "/overforingar/{OverforingId:int}/filkollektioner/{FilkollektionId:int}/filer/{filId:int}/filDatatyp/add"
@using System.Text.Json
@using FISSUP23.Database.Models
@inject HttpClient http
@inject NavigationManager navMan

<h3>Add Fildatatyp</h3>

<div>
    <input type="text" class="form-control mb-4" placeholder="FilId = @filId" readonly>
    <input type="text" class="form-control mb-4" @bind="Length" placeholder="Length" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="Precision" placeholder="Precision" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="Scale" placeholder="Scale" aria-label="Last name">
    <div class="form-inline">
        <select class="dropdown" name="number" @bind="datatypeId">
                @if (_datatyps != null)
                {
                    @foreach (var dt in _datatyps)
                    {
                        <option value=@dt.Id>@dt.Namn</option>
                    }
                }
                else
                {
                    <option value="">Loading</option>
                }
            </select>
        <div class="form-check form-check-inline" style="margin-left: 60px">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" @bind="_nullable">
                <label class="form-check-label" for="exampleCheck1">Is Nullable</label>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" style="margin-top: 30px" @onclick="Spara"> Spara </button>
    </div>

@code {

    [Parameter]
    public int OverforingId { get; set; }

    [Parameter]
    public int FilkollektionId { get; set; }

    [Parameter]
    public int filId { get; set; }
    
    private int? Length { get; set; }
    private int? Precision { get; set; }
    private int? Scale { get; set; }

    private Fil fil { get; set; }
    private int datatypeId { get; set; }
    private List<Datatyp> _datatyps { get; set; }
    private bool _nullable { get; set; } 

    protected override async void OnInitialized()
    {
        fil = await http.GetFromJsonAsync<Fil>($"./api/Fils/{filId}");
        fil.Tabells = new List<Tabell>();
        _datatyps = await http.GetFromJsonAsync<List<Datatyp>>($"./api/Fils/datatyper");
        datatypeId = _datatyps.First().Id;
        StateHasChanged();
    }

    private async Task Spara()
    {
        var n = _nullable ? 1 : 0;
        
        var fildatatyp = new FilDatatyp
        {
            FilId = filId,
            Length = Length,
            Precision = Precision,
            Scale = Scale,
            IsNullable = (short?) n,
            Fil = fil,
            Datatyp = _datatyps.Find(x => x.Id == datatypeId)
        };

        var content = new StringContent(JsonSerializer.Serialize(fildatatyp), System.Text.Encoding.UTF8, "application/json");
        await http.PostAsync("./api/Fils/filDatatyp/add", content);
        navMan.NavigateTo($"./overforingar/{OverforingId}/filkollektioner/{FilkollektionId}/filer", true);
    }

}