@page "/Overforingar||"
@inject HttpClient http

<h3>Overforingar</h3>

@if (Overforings != null)
{
    <FilterTable TableHeaders="tableHeaders" TableRows="tableRows"/>
}
else
{
    <p> Laddar data ..</p>
}

@code {
    private List<Database.Models.Overforing> Overforings { get; set; }
    private List<string> tableHeaders = new() { "Id", "Namn", "Systemnamn", "Beskrivning" };
    private List<List<string>> tableRows = new();

    protected override async Task OnInitializedAsync()
    {
        Overforings = await http.GetFromJsonAsync<List<Database.Models.Overforing>>($"./api/Overforings");
        foreach (var overforing in Overforings)
        {
            List<string> row = new()
            {
                overforing.Id.ToString(), overforing.Namn, overforing.SystemNamn, overforing.Beskrivning
            };
            tableRows.Add(row);
        }
        StateHasChanged();
    }

}