@page "/Overforings/{Id:int}/Update"
@inject HttpClient http

<h3 class="mb-4">Update Overföring</h3>

@if (_over != null)
{
    <body>
        <input class="form-control mb-4" id="disabledInput" type="text" placeholder="@_over.Namn" disabled>
        <input type="text" class="form-control mb-4" placeholder="Uppdatera namn" aria-label="Last name">
        <input type="text" class="form-control mb-4" placeholder="Uppdatera systemnam" aria-label="Last name">
        <input type="text" class="form-control mb-4" placeholder="Beskrivning" aria-label="Last name">

        <button type="button" class="btn btn-warning "> Spara </button>
    </body>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Database.Models.Overforing _over { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _over = await http.GetFromJsonAsync<FISSUP23.Database.Models.Overforing>($"./api/Overforings/{Id}");

        await base.OnInitializedAsync();
    }


}
