@page "/Overforing/Update/{Id:int}"
@inject HttpClient http

<h3>UpdateOverforing</h3>

@if (OverforingList != null)
{
    <body>
        <div class="row g-3">
            <div class="col">
                <label for="disabledTextInput" class="form-label">  </label>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
    </body>

}

@code {
    [Parameter]
    public int Id{ get; set; }
    private Overforing _over { get; set; }
    private List<FISSUP23.Database.Models.Overforing> OverforingList { get; set; }
    private List<FISSUP23.Database.Models.FilKollektion> FilKollektionsList { get; set; }
    private List<ViewModels.OverforingViewModel> OverforingVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        OverforingList = await http.GetFromJsonAsync<List<FISSUP23.Database.Models.Overforing>>("./api/Overforings");
        OverforingVMs = new List<FISSUP23.Client.ViewModels.OverforingViewModel>();

        foreach (var _Overfor in OverforingList)
        {
            var OverforingsVM = new ViewModels.OverforingViewModel()
                {
                    isChecked = false,
                    Id = _Overfor.Id,
                    Namn = _Overfor.Namn,
                    SystemNamn = _Overfor.SystemNamn,
                    Beskrivning = _Overfor.Beskrivning
                };
            OverforingVMs.Add(OverforingsVM);

        }

        await base.OnInitializedAsync();
    }

    public void GetSelectedOverforing()
    {
        var selectedOverInfo = OverforingVMs.Where(x => x.isChecked);
    }
}
