@page "/overforingar/{Id:int}/update"
@using System.Text.Json
@inject HttpClient http
@inject NavigationManager navMan

<h3 class="mb-4">Uppdatera overföring</h3>

@if (_over != null)
{
    <body>
    <input type="text" class="form-control mb-4" @bind="NyNamn" placeholder="Namn: @_over.Namn" aria-label="Last name">
        <input type="text" class="form-control mb-4" @bind="NySystemNamn" placeholder="Systemnam: @_over.SystemNamn" aria-label="Last name">
        <input type="text" class="form-control mb-4" @bind="NyBeskrivning" placeholder="Beskrivning: @_over.Beskrivning" aria-label="Last name">

        <button type="button" class="btn btn-secondary" @onclick="Spara"> Spara </button>
    </body>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Database.Models.Overforing _over { get; set; }

    private string NyNamn { get; set; }          
    private string NySystemNamn { get; set; }          
    private string NyBeskrivning { get; set; }          
    
    protected override async Task OnInitializedAsync()
    {
        _over = await http.GetFromJsonAsync<FISSUP23.Database.Models.Overforing>($"./api/Overforings/{Id}");

        await base.OnInitializedAsync();
    }
    
    private async Task Spara()
    {
        var overforing = new Database.Models.Overforing {Namn = NyNamn, SystemNamn = NySystemNamn, Beskrivning = NyBeskrivning};
        var content = new StringContent(JsonSerializer.Serialize(overforing), System.Text.Encoding.UTF8, "application/json");
        await http.PutAsync($"./api/Overforings/{_over.Id}", content);
        navMan.NavigateTo($"./overforingar", true);


    }

}
