@page "/overforingar/{overforingId:int}/filkollektioner/{Id:int}/update"
@using System.Text.Json
@using FISSUP23.Database.Models
@inject HttpClient http

<h3 class="mb-4">Update Filkollektion</h3>

@if (_FilKollektion != null)
{
    <body>
    <input class="form-control mb-4" id="disabledInput" type="text" placeholder="@_FilKollektion.Namn" disabled>

    <input class="form-control mb-4" id="disabledInput" type="text" placeholder="@_FilKollektion.Overforing.Id" disabled>
    <input type="text" class="form-control mb-4" @bind="NyNamn" placeholder="Namn" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyAndelse" placeholder="Ändelse" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyMatchmonster" placeholder="Matchmönster" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyBeskrivning" placeholder="Beskrivning" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderRoot" placeholder="Folder root" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderArkiv" placeholder="Folder arkiv" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderNyFil" placeholder="Folder ny fil" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderFelaktigFil" placeholder="Folder felaktiga fil" aria-label="Last name">

    <button type="button" class="btn btn-warning " @onclick="Spara"> Spara </button>
    </body>
}
else
{
    <p>Laddar ..</p>
}

@code {

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public int OverforingId { get; set; }
    
    private FilKollektion _FilKollektion { get; set; }

    private string NyNamn { get; set; }
    private string NyAndelse { get; set; }
    private string NyMatchmonster { get; set; }
    private string NyBeskrivning { get; set; }
    private string NyFolderRoot { get; set; }
    private string NyFolderArkiv { get; set; }
    private string NyFolderNyFil { get; set; }
    private string NyFolderFelaktigFil { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _FilKollektion = await http.GetFromJsonAsync<FilKollektion>($"./api/FilKollektions/{Id}");

        await base.OnInitializedAsync();
    }

    private async Task Spara()
    {
        var filkollek = new FilKollektion
        {
            Namn = NyNamn, Andelse = NyAndelse, Beskrivning = NyBeskrivning,
            FolderRoot = NyFolderRoot, FolderArkiv = NyFolderArkiv,
            FolderNyFil = NyFolderRoot, FolderFelaktigFil = NyFolderRoot
        };
        var content = new StringContent(JsonSerializer.Serialize(filkollek), System.Text.Encoding.UTF8, "application/json");
        await http.PutAsync($"./api/FilKollektions/{_FilKollektion.Id}", content);
    }

}