@namespace FISSUP23.Client.Shared

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="OpenGuideDialog">Guide</button>
            @if (DialogOpen)
            {
                <ModalGuide Title=@TitleDialog
                            text1=@TextDialog1 
                            text2=@TextDialog2
                            text3=@TextDialog3
                            text4=@TextDialog4 onClose="@CloseGuideDialog">
                </ModalGuide>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    public bool DialogOpen { get; set; }
    public string TitleDialog { get; set; }
    public string TextDialog1 { get; set; }
    public string TextDialog2 { get; set; }
    public string TextDialog3 { get; set; }
    public string TextDialog4 { get; set; }




    protected override async void OnInitialized()
    {
        TitleDialog = "Användarnas Guide";
        TextDialog1 = "1. För att ändra i databasen, välj Main i menyn.";
        TextDialog2 = "2. För att se data om en viss tabell eller filtrera data, välj tabellens namn i menyn.";
        TextDialog3 = "3. Bortagning och uppdatering av data görs genom att markera raden.";
        TextDialog4 = "Stay tuned för framtida versioner";
    }

    private async Task CloseGuideDialog(bool accepted)
    {
        DialogOpen = false;
        StateHasChanged();
    }

    private void OpenGuideDialog()
    {
        DialogOpen = true;
        StateHasChanged();
    }
}