<div class="modal fade show" style="display: block; background-color: rgba(10,10,10,.8)">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 8px">
            <div class="modal-body">
                <p class="modal-title" style="text-align: center">@Title &#128214;</p>
            </div>
            <button type="button" class="close" @onclick="@ModalCancel">X</button>

            <div class="modal-body">
                <p style="text-align: center">@text1</p>
                <p style="text-align: center">@text2</p>
                <p style="text-align: center">@text3</p>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string text1 { get; set; }

    [Parameter]
    public string text2 { get; set; }

    [Parameter]
    public string text3 { get; set; }
    

    [Parameter]
    public EventCallback<bool> onClose { get; set; }

    private Task ModalCancel()
    {
        return onClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return onClose.InvokeAsync(true);
    }
}